.temp {
  font-size: 64px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.description {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 20px;
}
